body {
  background-color: #bad7f2 !important;
}

form {
  background-color: #fcfcfc;
  margin-top: 3%;
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 40px;
  border-radius: 50px;
}

h2 {
  text-align: center;
}

.jumbotron {
  background-color: #f2e2ba !important;
  padding: 3em;
}

footer {
  margin-top: 3%;
  margin-left: 1%;
}
