

nav {
    
}

.jumbotron {
    /* F7AF9D */
    background-color: #72788D !important;
    color: white !important;
    
  }
  
  
  table {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
    width: 85% !important; 
    /* bottom: 60px; */
    position: relative;
    text-align: center;
    border-radius: 5px;
  }
  
  body {
    background-color: #bad7f2 !important;
  }
  
  form {
    background-color: #fcfcfc;
    
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 40px;
    border-radius: 5px;
  }
  
  h2 {
    text-align: center;  
    padding-top: 2%;
    padding-bottom: 1%;
  }
  
  #form-header{
    padding-bottom: 5%;
    
  }



  footer {
    /* margin-top: 10%; */
    /* margin-left: 1%; */
    position: relative;
    top: 25px;
    /* bottom: 50px; */
    /* border-style: solid; */
    padding-top: 1%;
    background-color: white;
    width: 100%;
    box-shadow: 0 50vh 0 50vh white;
  }

  footer p {
      padding-left: 1%;
  }
  
  