<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>TRMS_Project</display-name>
  
  <!-- LOGIN SERVLET -->
  <servlet>
  	<servlet-name>loginServlet</servlet-name>
  	<servlet-class>com.donald.servlets.LoginServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>loginServlet</servlet-name>
  	<url-pattern>/HTML/login</url-pattern>
  </servlet-mapping>
  
  <!-- REIMBURSEMENT REQUEST FORM SERVLET -->
  <servlet>
  	<servlet-name>reimbursementRequestFormServlet</servlet-name>
  	<servlet-class>com.donald.servlets.ReimbursementRequestFormServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>reimbursementRequestFormServlet</servlet-name>
  	<url-pattern>/HTML/reimbursement_request_form</url-pattern>
  </servlet-mapping>

</web-app>